<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ask me anything</title>
</head>
<body id="ask">
   <iframe frameborder="0" border="0" scrolling="no" width="300" height="190"
   allowtransparency="true" 
   src="htt[://www.localhost:6000/ask_form/YOURUSERNAME.Capsule.com"
   style="background-color:transparent; overflow: hidden;"></iframe>
   <iframe frameborder="0" border="0" scrolling="no" width="300" height="190" allowtransparency="true"
   src="http://www.localhost:6000/submit_form/YOURUSERNAME.Capsule.com"
   style="background-color: transparent;overflow: hidden;"></iframe>
</body>
</html>